<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.tailscale.ipn" />
        <package android:name="io.heckel.ntfy" />
    </queries>

    <application
        android:name=".SkidNotificationApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Skíðblaðnir"
        android:usesCleartextTraffic="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skidbladnir">
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".NotificationPushService" android:exported="false">
            <intent-filter>
                <action android:name="org.unifiedpush.android.connector.PUSH_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".NotificationDismissReceiver" android:exported="false" />
    </application>
</manifest>
